<!-- Footer -->
<footer class="page-footer font-small black pt-4">

    <!-- Footer Links -->
    <div class="container  text-center text-md-left">

        <!-- Grid row -->
        <div class="row py-4">

            <div class="col-md-4">

                <ul class="list-unstyled">
                    <li class="nav-item">
                        <a href="#!" class="nav-link h4">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="#!" class="nav-link h4">Services</a>
                    </li>
                    <li class="nav-item">
                        <a href="#!" class="nav-link h4">Work</a>
                    </li>
                    <li class="nav-item">
                        <a href="#!" class="nav-link h4">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a href="#!" class="nav-link h4">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="#!" class="nav-link h4">Join us</a>
                    </li>
                   
                </ul>

            </div>
            <div class="col-md-4">

                <p class="h4 text-white-50">CONTACT</p>
                <ul class="list-unstyled">
                    <li class="nav-item">
                        <a href="#!" class="nav-link h4">Berlin</a>
                    </li>
                    <li class="nav-item">
                        <a href="#!" class="nav-link h4">Futurice Group</a>
                    </li>
                    <li class="nav-item">
                        <a href="#!" class="nav-link h4">Helsinki</a>
                    </li>
                    <li class="nav-item">
                        <a href="#!" class="nav-link h4">Munich</a>
                    </li>
                   
                </ul>

            </div>

            <div class="col-md-4">

               <p>
                   <img src="assets/images/logo.png" alt="logo" class="w-100">
               </p>
               

            </div>

          

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://mdbootstrap.com/"> SuBrains.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->