  <!--Navbar-->
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top black scrolling-navbar" [containerInside]="true">

    <mdb-navbar-brand>
        <a routerLink="/" class="navbar-brand">
            <img src="assets/images/logo.png" alt="logo" width="180px" class="">
        </a>
    </mdb-navbar-brand>

    <links>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active mx-3">
                <a class="nav-link waves-light" mdbWavesEffect>PRODUCTS</a>
            </li>
            <!-- <span class="navbarSlash">/</span> -->
            <li class="nav-item  mx-3">
                <a class="nav-link waves-light" mdbWavesEffect>SERVICES</a>
            </li>
            <!-- <span class="navbarSlash">/</span> -->
            <li class="nav-item  mx-3">
                <a class="nav-link waves-light" mdbWavesEffect>ABOUT</a>
            </li>
            <!-- <span class="navbarSlash">/</span> -->
            <li class="nav-item  mx-3">
                <a class="nav-link waves-light" mdbWavesEffect>OURWORK</a>
            </li>
            <!-- <span class="navbarSlash">/</span> -->
            <li class="nav-item  mx-3">
                <a class="nav-link waves-light" mdbWavesEffect>CONTACT</a>
            </li>
        </ul>
    </links>

</mdb-navbar>
<!--/.Navbar-->
