<section>

    <div>
        <app-navbar></app-navbar>
    </div>

    <div class="view" style="height: 100vh;">

        <video #VideoContainer  muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
            <source src="assets/images/subrainsVideo.mp4" type="video/mp4">
        </video> 
 
        <div class="mask flex-center rgba-black-strong">
 
            <div class="container text-center text-white">
                <p class="h1 header mt-5 mb-4 pt-4">Creating Resilient Future with <br> Intelligence </p>

                <p class="headderContent h4 mb-5 wow fadeInUp infinite">There’s a time when words alone are not enough,
                    and
                    that time is now, We <br> bring together
                    strategy, Intelligent design, engineering and data to help <br> organisations become resilient.</p>

                <div>
                    <button mdbBtn type="button" class="px-5 " size="lg" color="danger" mdbWavesEffect>Explore
                        more</button>
                </div>
            </div>


        </div>
    </div>





    <div class="row">
        <div class="col-md-4 px-0">
            <div class="view overlay zoom">
                <img src="../../assets/images/3.jpg" class="img-fluid w-100" alt="smaple image">
                <div class="mask text-white">
                    <div class="w-100 overlaymaskContent">
                        <div class="row">
                            <div class="col-md-12 px-5">
                                <h2 class="sideheaddingsBorder">Services</h2>
                                <p class="h2  font-weight-bold">Face Recognisation and Emotions on COVID-19</p>
                                <p class="headderContent">If you had to predict, what kind of <br> future would you bet
                                    your money on?</p>
                                <div>
                                    <button mdbBtn type="button" class="px-5 " size="sm" color="danger"
                                        mdbWavesEffect>READ MORE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 px-0">
            <div class="view overlay zoom">
                <img src="../../assets/images/2.jpg" class="img-fluid w-100" alt="smaple image">
                <div class="mask text-white">
                    <div class="w-100 overlaymaskContent">
                        <div class="row">
                            <div class="col-md-12 px-5">
                                <h2 class="sideheaddingsBorder">Products</h2>
                                <p class="h2  font-weight-bold">Be Virtual on this Pandemic</p>
                                <p class="headderContent">Start adapting today to regain <br> control of your future</p>
                                <div>
                                    <button mdbBtn type="button" class="px-5 " size="sm" color="danger"
                                        mdbWavesEffect>READ MORE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 px-0">
            <div class="view overlay zoom">
                <img src="../../assets/images/1.jpg" class="img-fluid w-100" alt="smaple image">
                <div class="mask text-white">
                    <div class="w-100 overlaymaskContent">
                        <div class="row">
                            <div class="col-md-12 px-5">
                                <h2 class="sideheaddingsBorder">INSIGHTS</h2>
                                <p class="h2  font-weight-bold"> Rethinking mobility</p>
                                <p class="headderContent">Why mobility innovation must <br> love data and ecosystems</p>
                                <div>
                                    <button mdbBtn type="button" class="px-5 " size="sm" color="danger"
                                        mdbWavesEffect>READ MORE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row pt-5">
            <div class="col-md-12 my-5">
                <p class="h3 sideheadding">Our Services</p>
            </div>

            <div class="col-md-5">
                <p class="h1"> A seamless <br> combination of <br> Intelligence, design, <br> engineering and data</p>
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-4 my-3">
                        <mdb-card class="view overlay zoom">
                            <mdb-card-img src="../../assets/images/1.1.jpg"
                                alt="Card image cap"></mdb-card-img>
                        </mdb-card>
                        <h2 class="mt-3 text-center">AI & Automation Services</h2>
                    </div>
                    <div class="col-md-4 my-3">
                        <mdb-card class="view overlay zoom">
                            <mdb-card-img src="../../assets/images/1.2.jpg"
                                alt="Card image cap"></mdb-card-img>
                        </mdb-card>
                        <h2 class="mt-3 text-center">Computer Vision services</h2>
                    </div>
                    <div class="col-md-4 my-3">
                        <mdb-card class="view overlay zoom">
                            <mdb-card-img src="../../assets/images/1.3.jpg"
                                alt="Card image cap"></mdb-card-img>
                        </mdb-card>
                        <h2 class="mt-3 text-center">Cloud & Devops services</h2>
                    </div>
                    <div class="col-md-4 my-3">
                        <mdb-card class="view overlay zoom">
                            <mdb-card-img src="../../assets/images/1.4.jpg"
                                alt="Card image cap"></mdb-card-img>
                        </mdb-card>
                        <h2 class="mt-3 text-center">Mobile Application Development services</h2>
                    </div>
                    <div class="col-md-4 my-3">
                        <mdb-card class="view overlay zoom">
                            <mdb-card-img src="../../assets/images/1.5.jpg"
                                alt="Card image cap"></mdb-card-img>
                        </mdb-card>
                        <h2 class="mt-3 text-center">Web Development services</h2>
                    </div>
                    <div class="col-md-4 my-3">
                        <mdb-card class="view overlay zoom">
                            <mdb-card-img src="../../assets/images/1.6.jpg"
                                alt="Card image cap"></mdb-card-img>
                        </mdb-card>
                        <h2 class="mt-3 text-center">Analytics services</h2>
                    </div>
                    <div class="col-md-4 my-3">
                        <mdb-card class="view overlay zoom">
                            <mdb-card-img src="../../assets/images/1.7.jpg"
                                alt="Card image cap"></mdb-card-img>
                        </mdb-card>
                        <h2 class="mt-3 text-center">Consulting Services</h2>
                    </div>
                    <div class="col-md-4 my-3">
                        <mdb-card class="view overlay zoom">
                            <mdb-card-img src="../../assets/images/1.8.jpg"
                                alt="Card image cap"></mdb-card-img>
                        </mdb-card>
                        <h2 class="mt-3 text-center">Internet of Things</h2>
                    </div>
                    <div class="col-md-4 my-3">
                        <mdb-card class="view overlay zoom">
                            <mdb-card-img src="../../assets/images/1.9.jpg"
                                alt="Card image cap"></mdb-card-img>
                        </mdb-card>
                        <h2 class="mt-3 text-center">Testing</h2>
                    </div>

                </div>
            </div>

            <div class="col-md-12">
                <div class="row py-5">

                    <div class="col-md-3 py-4">
                        <p class="h1 whatwehave text-center">6</p>
                        <p class="text-center h3 cyan-text">years of Trust</p>
                    </div>
                    <div class="col-md-3 py-4">
                        <p class="h1 whatwehave text-center">100+ </p>
                        <p class="text-center h3 cyan-text">Projects</p>
                    </div>
                    <div class="col-md-3 py-4">
                        <p class="h1 whatwehave text-center">200+</p>
                        <p class="text-center h3 cyan-text">Workshops</p>
                    </div>
                    <div class="col-md-3 py-4">
                        <p class="h1 whatwehave text-center">50+</p>
                        <p class="text-center h3 cyan-text">Clients</p>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="row px-5  py-4 deep-purple darken-4">
        <div class="col-md-12">
            <p class="h3  sideheadding text-white"> RECENT WORK</p>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4 px-0">
            <div class="view overlay zoom">
                <img src="../../assets/images/1.jpg" class="img-fluid w-100" alt="smaple image">
                <div class="mask text-white">
                    <div class="w-100 overlaymaskContent">
                        <div class="row">
                            <div class="col-md-12 px-5">
                                <h2 class="sideheaddingsBorder">INSIGHTS</h2>
                                <p class="h2  font-weight-bold">Bets for the Future</p>
                                <p class="headderContent">If you had to predict, what kind of <br> future would you bet
                                    your money on?</p>
                                <div>
                                    <button mdbBtn type="button" class="px-5 " size="sm" color="danger"
                                        mdbWavesEffect>READ MORE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 px-0">
            <div class="view overlay zoom">
                <img src="../../assets/images/2.jpg" class="img-fluid w-100" alt="smaple image">
                <div class="mask text-white">
                    <div class="w-100 overlaymaskContent">
                        <div class="row">
                            <div class="col-md-12 px-5">
                                <h2 class="sideheaddingsBorder">RESILIENCE</h2>
                                <p class="h2  font-weight-bold">How to thrive uncertainty</p>
                                <p class="headderContent">Start adapting today to regain <br> control of your future</p>
                                <div>
                                    <button mdbBtn type="button" class="px-5 " size="sm" color="danger"
                                        mdbWavesEffect>READ MORE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 px-0">
            <div class="view overlay zoom">
                <img src="../../assets/images/1.jpg" class="img-fluid w-100" alt="smaple image">
                <div class="mask text-white">
                    <div class="w-100 overlaymaskContent">
                        <div class="row">
                            <div class="col-md-12 px-5">
                                <h2 class="sideheaddingsBorder">INSIGHTS</h2>
                                <p class="h2  font-weight-bold"> Rethinking mobility</p>
                                <p class="headderContent">Why mobility innovation must <br> love data and ecosystems</p>
                                <div>
                                    <button mdbBtn type="button" class="px-5 " size="sm" color="danger"
                                        mdbWavesEffect>READ MORE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 px-0">
            <div class="view overlay zoom">
                <img src="../../assets/images/1.jpg" class="img-fluid w-100" alt="smaple image">
                <div class="mask text-white">
                    <div class="w-100 overlaymaskContent">
                        <div class="row">
                            <div class="col-md-12 px-5">
                                <h2 class="sideheaddingsBorder">INSIGHTS</h2>
                                <p class="h2  font-weight-bold">Bets for the Future</p>
                                <p class="headderContent">If you had to predict, what kind of <br> future would you bet
                                    your money on?</p>
                                <div>
                                    <button mdbBtn type="button" class="px-5 " size="sm" color="danger"
                                        mdbWavesEffect>READ MORE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 px-0">
            <div class="view overlay zoom">
                <img src="../../assets/images/2.jpg" class="img-fluid w-100" alt="smaple image">
                <div class="mask text-white">
                    <div class="w-100 overlaymaskContent">
                        <div class="row">
                            <div class="col-md-12 px-5">
                                <h2 class="sideheaddingsBorder">RESILIENCE</h2>
                                <p class="h2  font-weight-bold">How to thrive uncertainty</p>
                                <p class="headderContent">Start adapting today to regain <br> control of your future</p>
                                <div>
                                    <button mdbBtn type="button" class="px-5 " size="sm" color="danger"
                                        mdbWavesEffect>READ MORE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 px-0">
            <div class="view overlay zoom">
                <img src="../../assets/images/1.jpg" class="img-fluid w-100" alt="smaple image">
                <div class="mask text-white">
                    <div class="w-100 overlaymaskContent">
                        <div class="row">
                            <div class="col-md-12 px-5">
                                <h2 class="sideheaddingsBorder">INSIGHTS</h2>
                                <p class="h2  font-weight-bold"> Rethinking mobility</p>
                                <p class="headderContent">Why mobility innovation must <br> love data and ecosystems</p>
                                <div>
                                    <button mdbBtn type="button" class="px-5 " size="sm" color="danger"
                                        mdbWavesEffect>READ MORE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="container">
        <div class="row pt-5">
            <div class="col-md-12 my-5">
                <p class="h3 sideheadding">CAREERS</p>
            </div>

            <div class="col-md-5">
                <p class="h1"> Do better work, <br> make better things</p>
            </div>
            <div class="col-md-7">
                <p class="h4">We care about our people, and the work we do. Clients love us because we’re effective,
                    intelligent, patient and kind, not to mention modest. <br>
                    We want to empower you to become a better version of yourself and to have more impact on the world.
                </p>
                <div class="py-4 text-center">
                    <button mdbBtn type="button" color="danger" mdbWavesEffect>Join Us</button>
                </div>

            </div>

            <!-- <div class="col-md-12">
                <div class="row py-5">

                    <div class="col-md-3 py-4">
                        <p class="h1 whatwehave text-center">4+</p>
                        <p class="text-center h3 cyan-text">years in business</p>
                    </div>
                    <div class="col-md-3 py-4">
                        <p class="h1 whatwehave text-center">600+</p>
                        <p class="text-center h3 cyan-text">employees</p>
                    </div>
                    <div class="col-md-3 py-4">
                        <p class="h1 whatwehave text-center">8</p>
                        <p class="text-center h3 cyan-text">offices</p>
                    </div>
                    <div class="col-md-3 py-4">
                        <p class="h1 whatwehave text-center">300</p>
                        <p class="text-center h3 cyan-text">projects</p>
                    </div>

                </div>
            </div> -->

        </div>
        <div class="row py-5">
            <div class="col-md-12">
                <p class="h3 sideheadding">SOME OF OUR CLIENTS</p>
            </div>
            <div class="col-md-12">
                <div class="row my-5 justify-content-between">
                    <div class="col-md-2 py-4 text-center">
                        <p class="">
                            <img src="assets/images/logo_full.png" alt="aimentr" width="100%">
                        </p>
                    </div>
                    <div class="col-md-2 py-4 text-center">
                        <p class="">
                            <img src="assets/images/logo_full.png" alt="aimentr" width="100%">
                        </p>
                    </div>
                    <div class="col-md-2 py-4 text-center">
                        <p class="">
                            <img src="assets/images/logo_full.png" alt="aimentr" width="100%">
                        </p>
                    </div>
                    <div class="col-md-2 py-4 text-center">
                        <p class="">
                            <img src="assets/images/logo_full.png" alt="aimentr" width="100%">
                        </p>
                    </div>
                    <div class="col-md-2 py-4 text-center">
                        <p class="">
                            <img src="assets/images/logo_full.png" alt="aimentr" width="100%">
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>





    <app-footer></app-footer>


</section>